<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GitSpy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GitSpy.Properties.Settings>
            <setting name="UpdateInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RepositoryFile" serializeAs="String">
                <value>GitSpy.xml</value>
            </setting>
            <setting name="BalloonTipTimeout" serializeAs="String">
                <value>1000</value>
            </setting>
        </GitSpy.Properties.Settings>
    </userSettings>
</configuration>